table{
    margin: 30px;
    border-collapse: collapse;
}
table tr{
    border-bottom: 1px solid #666;
}
table th, table td{
    padding: 10px;
}
/* Highlighter class */
.alt{
    background: #cdcdcd;
}

.highlight-delete {
    color: #ff0000
}

.highlight-edit {
    color: #ffd900
}

.highlight-add {
    color: #06f43e
}